body {
    background: linear-gradient(to left bottom, rgb(8, 8, 8) 10%, rgb(2, 252, 156) 35%, rgb(0, 26, 255) 50%, rgb(0, 0, 5) 100%);
}

.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
    background-color: black;
    color: cyan;
}

.heading span {
  
    font-size: 18px;
    width: 100%;
    margin: 0px;
    color: rgb(241, 241, 241);
}

#start,
#number_of_objects,
#status {
    font-size: 18px;
}

#number_of_objects,
#status {
    font-size: 16px;
}

#object_name {
    font-size: 18px;
    text-align: center;
    width: 300px;
    border-radius: 5px;
}

.copy_right_footer {
    position: fixed;
    font-size: 16px;
    width: 100%;
    line-height: 3;
    bottom: 0;
    text-align: center;
    color: rgb(0, 255, 234);
    background-color: rgb(0, 3, 0);
    font-weight: bold;
}

canvas {
    border: 7px solid white;
    border-radius: 10px;
    box-shadow: 5px 5px 18px grey;
    margin-top: 120px;
}